(programs
	(gpt
		(after "usb/handlers/storage0")
		(open
			(data "usb/handlers/storage0" "data")
			(share "")))
	(framebuffer
		;(disabled)
		(args file)
		(open
			(share "")
			(framebuffer framebuffer)))
	(fs_fat
		(args "file")
		(after "gpt/1")
		(open
			(data "gpt/1")
			(share "")))
	(fs_fat
		(disabled)
		(args "file")
		(after "disk/data")
		(open
			(data "disk/data")
			(share "")))
	(image_viewer
		(after wm)
		(create (window wm/window))
		(open (file "")))
	(static_http_server
		(disabled)
		(after "file" "net")
		(open
			(file file)
			(net net)))
	(ps2 (open (file "")))
	(pci
		(open
			(file "")
			(pci pci)
			(cfg drivers/pci.scf)
			(process "process")))
	(ssh
		(disabled)
		(after net userdb)
		(open
			(cfg drivers/sshd.scf)
			(cfg_secret drivers/sshd_secret.scf)
			(net net)
			(file "")
			(process process)
			(userdb userdb)))
	(window_manager
		(after gpu ps2)
		(open (gpu gpu) (file drivers))
		(create (share wm)))
	(join (after ps2 wm) (open (out wm/input) (in ps2/mouse)))
	(join (after ps2 wm) (open (out wm/input) (in ps2/keyboard)))
	(join (after usb/handlers/hid0 wm) (open (out wm/input) (in usb/handlers/hid0)))
	(gui_cli (after wm) (args --scale 10)
		(open
			(spawn/file "")
			(process process) (font drivers/font.tff) (spawn drivers/minish))
		(create (window wm/window)))
	(gui_cli (after wm) (args --scale 20)
		(open
			(spawn/file drivers)
			(process process) (font drivers/font.tff) (spawn drivers/minish))
		(create (window wm/window)))
	(userdb
		(open
			(share "")
			(users "")
			(cfg drivers/userdb.scf))))
