(programs
	(minish
		(objects
			(file "")
			(in "keyboard/stream"))
		(after "keyboard"))
	(fs_fat
		(disabled)
		(args "file" "disk/data")
		(after "disk/data")
		(objects
			(file "")))
	(gui_cli
		(after "window_manager")
		(objects
			(file "")))
	(image_viewer
		(after "window_manager")
		(objects
			(file "")))
	(static_http_server
		(disabled)
		(after "file" "net")
		(objects
			(file file)
			(net net)))
	(ps2
		(objects
			(file "")))
	(pci
		(args "drivers/pci.scf")
		(objects
			(file "")
			(process "process")))
	(scancode_to_char
		;(args "keyboard" "ps2/keyboard/stream")
		;(after "ps2/keyboard/stream")
		(args "keyboard" "usb/handlers/usb_keyboard_share_test_yay")
		(after "usb/handlers/usb_keyboard_share_test_yay")
		(objects
			(file "")))
	(ssh
		(args drivers/ssh_conf/ssh.scf)
		(after net userdb)
		(objects
			(cfg drivers/sshd.scf)
			(cfg_secret drivers/sshd_secret.scf)
			(net net)
			(file "")
			(process process)
			(userdb userdb)))
	(window_manager
		(after "gpu/sync")
		(objects
			(file "")))
	(userdb
		(objects
			(share "")
			(users "")
			(cfg drivers/userdb.scf))))
