; https://www.usb.org/defined-class-codes
;
; Format:
;	(usb-drivers
;		(<class> <subclass> <protocol>
;			(<class> <subclass> <protocol> <driver> (..)) ..) ..)
;
; Numbers are in hex format and at most two digits.

(usb-drivers
	(0 0 0
		(3 0 0 "drivers/usb_hid" (name "hid{n}"))
		(3 1 1 "drivers/usb_hid" (name "hid{n}"))
		(3 1 2 "drivers/usb_hid" (name "hid{n}"))
		(8 6 50 "drivers/usb_storage" (name "storage{n}"))))
