(raw
	(a 1c)
	(b 32)
	(c 21)
	(d 23)
	(e 24)
	(f 2b)
	(g 34)
	(h 33)
	(i 43)
	(j 3b)
	(k 42)
	(l 4b)
	(m 3a)
	(n 31)
	(o 44)
	(p 4d)
	(q 15)
	(r 2d)
	(s 1b)
	(t 2c)
	(u 3c)
	(v 2a)
	(w 1d)
	(x 22)
	(y 35)
	(z 1a)
	(1 45)
	(2 16)
	(3 26)
	(4 25)
	(5 2e)
	(6 36)
	(7 3d)
	(8 3e)
	(9 46)
	("`" 0e)
	(- 4e)
	(= 55)
	(\ 5d)
	(backspace 66)
	(space 29)
	(tab 0d)
	(capslock 58)
	(lshift 12)
	(lshift 14)
	(lgui e0 1f)
	(alt 11)
	(rshift 59)
	(rctrl e0 14)
	(rgui e0 27)
	(altgr e0 11)
	(menu e0 2f)
	(enter 5a)
	(esc 76)
	(f1 05)
	(f2 06)
	(f3 04)
	(f4 0c)
	(f5 03)
	(f6 0b)
	(f7 83)
	(f8 0a)
	(f9 01)
	(f10 09)
	(f11 78)
	(f12 07)
	(printscreen e0 12 e0 7c)
	(scrollock 7e)
	([ 54)
	(insert e0 70)
	(home e0 6c)
	(pageup e0 7d)
	(delete e0 71)
	(end e0 69)
	(pagedown e0 7a)
	(up e0 75)
	(left e0 6b)
	(down e0 72)
	(right e0 74)
	(kpnumlock 77)
	(kp/ e0 4a)
	(kp* e0 7c)
	(kp- 7b)
	(kp+ 79)
	(kpenter e0 5a)
	(kp. 71)
	(kp0 70)
	(kp1 69)
	(kp2 72)
	(kp3 7a)
	(kp4 6b)
	(kp5 73)
	(kp6 74)
	(kp7 6c)
	(kp8 75)
	(kp9 7d)
	(] 5b)
	(";" 4c)
	("'" 52)
	("," 41)
	("." 49)
	(/ 4a)
	(pause e1 14 77 e1 f0 14 f0 77))
