(raw
	; ordered row-wise, top to bottom, left to right

	(² 35)
	(& 1e)
	(é 1f)
	('"' 20)
	("'" 21)
	("(" 22)
	(§ 23)
	(è 24)
	(! 25)
	(ç 26)
	(à 27)
	(")" 2d)
	(- 2e)
	(backspace 2a)

	(tab 2b)
	(a 14)
	(z 1a)
	(e 08)
	(r 15)
	(t 17)
	(y 1c)
	(u 18)
	(i 0c)
	(o 12)
	(p 13)
	(^ 2f)
	($ 30)
	(enter 28)

	(capslock 39)
	(q 04)
	(s 16)
	(d 07)
	(f 09)
	(g 0a)
	(h 0b)
	(j 0d)
	(k 0e)
	(l 0f)
	(m 33)
	(% 34)
	(µ 31)

	(< 64)
	(w 1d)
	(x 1b)
	(c 06)
	(v 19)
	(b 05)
	(n 11)
	(, 10)
	(";" 36)
	(: 37)
	(= 38)

	(space 2c)
	(menu 65))

(caps
	(³ ²)
	(1 &)
	(2 é)
	(3 '"')
	(4 "'")
	(5 "(")
	(6 §)
	(7 è)
	(8 !)
	(9 ç)
	(0 à)
	(° ")")
	(_ -)

	(¨ ^)
	(* $)
	(% ù)
	(£ µ)

	(> <) ; kawaii
	(? ,)
	(. ";")
	(/ :)
	(+ =))

(altgr
	(¬ ²)
	(| &)
	(@ é)
	("#" '"')
	(¼ "'")
	(½ "(")
	(^ §)
	({ è)
	([ !)
	({ ç)
	(} à)
	(\ ")")
	(¸ -)

	(@ a)
	(ł z)
	(€ e)
	(¶ r)
	(ŧ t)
	(← y)
	(↓ u)
	; TODO

	(\ <)
	(¸ ,)
	(· :)
	(~ =))
