; Based on Logitech K120, AZERTY layout

(raw
	; ordered row-wise, top to bottom, left to right
	(esc 29)
	(f1 3a)
	(f2 3b)
	(f3 3c)
	(f4 3d)
	(f5 3e)
	(f6 3f)
	(f7 40)
	(f8 41)
	(f9 42)
	(f10 43)
	(f11 44)
	(f12 45)
	(printscreen 46)
	(scrollock 47)
	(pause 48)

	(² 35)
	(& 1e)
	(é 1f)
	('"' 20)
	("'" 21)
	("(" 22)
	(§ 23)
	(è 24)
	(! 25)
	(ç 26)
	(à 27)
	(")" 2d)
	(- 2e)
	(backspace 2a)

	(tab 2b)
	(a 14)
	(z 1a)
	(e 08)
	(r 15)
	(t 17)
	(y 1c)
	(u 18)
	(i 0c)
	(o 12)
	(p 13)
	(^ 2f)
	($ 30)
	(enter 28)

	(capslock 39)
	(q 04)
	(s 16)
	(d 07)
	(f 09)
	(g 0a)
	(h 0b)
	(j 0d)
	(k 0e)
	(l 0f)
	(m 33)
	(ù 34)
	(µ 31)

	(lshift e1)
	(< 64)
	(w 1d)
	(x 1b)
	(c 06)
	(v 19)
	(b 05)
	(n 11)
	(, 10)
	(";" 36)
	(: 37)
	(= 38)
	(rshift e5)
	
	(lctrl e0)
	(lgui e3)
	(alt e2)
	(space 2c)
	(altgr e6)
	(rgui e7)
	(menu 65)
	(rctrl e4)

	(kpnumlock 53)
	(kp/ 54)
	(kp* 55)
	(kp- 56)
	(kp+ 57)
	(kpenter 58)
	(kp1 59)
	(kp2 5a)
	(kp3 5b)
	(kp4 5c)
	(kp5 5d)
	(kp6 5e)
	(kp7 5f)
	(kp8 60)
	(kp9 61)
	(kp0 62)
	(kp. 63))

(altgr
	(¬ ²)
	(| &)
	(@ é)
	("#" '"')
	(¼ "'")
	(½ "(")
	(^ §)
	({ è)
	([ !)
	({ ç)
	(} à)
	(\ ")")
	(¸ -)

	(@ a)
	(ł z)
	(€ e)
	(¶ r)
	(ŧ t)
	(← y)
	(↓ u)
	; TODO
	(´ ù)
	(` µ)

	(\ <)
	(¸ ,)
	(· :)
	(~ =))

(caps
	(³ ²)
	(1 &)
	(2 é)
	(3 '"')
	(4 "'")
	(5 "(")
	(6 §)
	(7 è)
	(8 !)
	(9 ç)
	(0 à)
	(° ")")
	(_ -)

	(¨ ^)
	(* $)
	(% ù)
	(£ µ)

	(> <) ; kawaii
	(? ,)
	(. ";")
	(/ :)
	(+ =))

(altgr+caps
	(¡ &)
	(⅛ é)
	(£ '"')
	($ "'")
	(⅜ "(")
	(⅝ §)

	(˙ =))
